<div class="span9">
  <h1>
    Project <%= @project.name%>
  </h1>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>
        Title
      </th>
      <th>
        Description
      </th>
       <th>
        Created date
      </th>
       <th>
        Progress
      </th>
    </tr>
    </thead>
    <tbody>
    <% @tickets.each do |ticket| %>
    <tr>
      <td>
        <%= ticket.title %>
      </td>
      <td>
        <%= ticket.description%>Monsters Inc
      </td>
      <td>
        <%= ticket.created_at%>
      </td>
      <td>
        <div class="progress">
          <div class="bar" style="width: 60%;"></div>
        </div>
      </td>
     </tr>
    <%end%>
  </tbody>
  </table>
  <a class="toggle-link" href="#new-project" id="new_project_page"><i class="icon-plus"></i> New Ticket</a>
  <div id="new-project" class="form-horizontal hidden">
    <%= render :partial => "tickets/form"%>
  </div>
</div>
                                              test